<!doctype html>
<html>
	<head>
		<title>Start Page</title>
	</head>
	<body>
		<h1> Hello Welcome to our App </h1>
		<nav>
			<a href="/PRVisual">Top Champions by Pick Rate</a> |
			<a href="/WRVisual">Top Champions by Win Rate</a>
		</nav>
		<h1>Input below</h1>
		 <form>
	  		  <label>Champion Name:</label>
			  <input type="text" id="aid" name="aid"><br><br>
			  <label>Win rate:</label>
			  <input type="text" id="body" name="body"><br><br>
			  <label>Pick rate:</label>
			  <input type="text" id="body" name="body"><br><br>
			  <label>Tier:</label>
			  <input type="text" id="body" name="body"><br><br>
			  <label>Counter Champs:</label>
			  <input type="text" id="body" name="body"><br><br>
			  <label>Strong Champs:</label>
			  <input type="text" id="body" name="body"><br><br>
			  <button type="button">GET</button>
			  
		  </form>
		
		<h1> Results below </h1>
		<div id="championGet"></div>
	</body>
</html>